body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #DFF7D7;
  background-image: url(./images/background-autumn.jpg);
  background-attachment: fixed;
  /* background: linear-gradient(#C0C0C0, #9198e5); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
